header
  
  div(class="header-container")
    h1(class="header") Micro Blog
    if user
      p(class="username") #{user.username}
    else 
      p(class="username") Guest
    a(href="#", class="toggle-button")
      span(class="bar")
      span(class="bar")
      span(class="bar")


        
