nav(class="navbar")

  div(class="links")
    h2 Menu
    div(class="user")
      if user
        a(href="/logout") Log out
        if !user.member
          a(href="/become-member") Become a Member
        else if !user.admin
          a(href="/become-admin") Become an Admin
      else
        a(href="/login") Login
        a(href="/register") Register
    
    div(class="blog")
      a(href="/") Home
      if user 
        a(href="/create-blog") Create Blog Entry
      
