nav(class="navbar")

  div(class="links")
    div(class="user")
      if user
        a(href="/logout") Log out
      else
        a(href="/login") Login
        a(href="/register") Register
    
    div(class="blog")
      a(href="/") Home
      
  


