extends layout

block content
    div(class="unauthorised")
        h2 401 - Unauthorised: Access is denied
        p You do not have permission to view this page using the credentials you have supplied.